/* #countLabel{
    font-family: 'Helvetica';
    display: block;
    font-size: 10em;
    text-align: center;
    color: blue;
}

#container{
    text-align: center;
   

}

    
    

.buttons{
    
    padding: 10px 20px; vertical and horizontal distance from the letters to the border
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.801);
    background-color: rgb(233, 182, 14);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .25s;
}
.buttons:hover{
    background-color: rgb(240, 80, 5);

} */
 body{
    
    

 }
h1{
    text-align: center;
}
 #stopcontainer{
    
    text-align: center;
    border: 5px solid ;
    padding: 12px; 
    width: fit-content;
    margin:auto;
    border-radius: 30px;
    font-size: 3rem;
    font-family: monospace;
    
 }

 #start{
    color: white;
    font-size: 20px;
    background-color: green;
    border-radius: 10px;
    
    

 }
#stop{
    
    color: white;
    font-size: 20px;
    background-color: red;
    border-radius: 10px;
    
    
}

#reset{
    color: white;
    font-size: 20px;
    background-color:aqua;
    border-radius: 10px;
}
.box:hover {
  background-color: lightgray;
  
  cursor: pointer;
  
}
